<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<meta charset="utf-8">

	<!-- Bootstrap Links -->
	<!-- Latest compiled and minified CSS -->
	

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
<script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>

</head>
<body>
	<div class="jumbotron"></div>
	<div class="container">
		<h2>Select Table</h2>
		<div class="card w-25">
			<div class="row myrow">
				<div class="col">
					1
				</div>
				<div class="col ">
					<img src="base.png" class="mx-auto d-block">
					<label>C1</label>
					
				</div>
				<div class="col ">
					2
				</div>
			</div>
			<div class="row myrow">
				<div class="col">
					<img src="base.png" class="mx-auto d-block">
					<label>C2</label>
				</div>
				<div class="col round">
					
						<input type="checkbox" id="checkbox" />
						<label for="checkbox"></label>
					
				</div>
				<div class="col ">
					<img src="base.png" class="mx-auto d-block">
					<label>C4</label>
				</div>
			</div>
			<div class="row myrow">
				<div class="col ">
					5
				</div>
				<div class="col">
					<img src="base.png" class="mx-auto d-block">
					<label>C3</label>
				</div>
				<div class="col ">
					6
				</div>
			</div>
		</div>
		
		<div class="card w-25">
			<div class="row myrow">
				<div class="col">
					
				</div>
				<div class="col ">
					<img src="base.png" class="mx-auto d-block">
					<label>C1</label>
					
				</div>
				<div class="col ">
					
				</div>
			</div>
			<div class="row myrow">
				<div class="col">
					<img src="base.png" class="mx-auto d-block">
					<label>C2</label>
				</div>
				<div class="col round">
					
						<input type="checkbox" id="checkbox" />
						<label for="checkbox"></label>
					
				</div>
				<div class="col ">
					<img src="base.png" class="mx-auto d-block">
					<label>C4</label>
				</div>
			</div>
			<div class="row myrow">
				<div class="col ">
					7
				</div>
				<div class="col">
					<img src="base.png" class="mx-auto d-block">
					<label>C3</label>
				</div>
				<div class="col ">
					
				</div>
			</div>
		</div>
	</div>


		

</body>
</html>