<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	<script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/astyles.css')}}">

</head>
<body>
	<a href="">New Restaurant</a>
	
	{% with messages = get_flashed_messages() %}
		{%for message in messages %}
			<script type="text/javascript">
				alert('{{message}}');
			</script>
		{% endfor %}
	{% endwith%}

	{% block content %}
	
	{% endblock %}
</body>
</html>