{% extends 'base.html' %}
{% block content %}
<div class="container-fluid col-sm-8">
	<div class="card">
		<div class="card-header bg-primary text-white"> Registration</div>
		<div class="card-body">
			<form id="registerForm" action="{{ url_for('register') }}" method="post">
			  <div class="form-group">
			    <!-- <label for="alumniType">Alumni Type :  </label> -->			    
			  </div>

			  <div class="form-group">
			    <label for="name">name: </label>
			    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name :" required="required" autofocus="autofocus">
			  </div>

			  <div class="form-group">
			    <label for="email">email : </label>
			    <input type="text" class="form-control" id="email" name="email" placeholder="name@example.com :" required="required">
			  </div>

			 

			  <div class="form-group">
			    <label for="mobile">mobile: </label>
			    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="98XXXXXX10 :" required="required">
			  </div>
			  <div class="form-group">
			    <label for="rollnumber"> rollnumber :</label>
			    <input type="rollnumber" class="form-control" id="rollnumber" name="rollnumber" placeholder="rollnumber" required="required">
			  </div>


			 
			  
			  <div class="form-group">
			    <label for="password">password  : </label>
			    <input type="password" class="form-control" id="password" name="password" placeholder="password:" required="required" autofocus="autofocus"> 
<!-- 
			  </div>

			  <div class="form-group">
			    <label for="ownerType"> ownerType :</label>
			    <input type="ownerType" class="form-control" id="ownerType" name="ownerType" placeholder="ownerType" required="required">
			  </div> -->

			  <button type="submit" class="btn btn-primary mb-2 center-me">Register</button>
			</form>		
		</div>		
	</div>
	</div>
</div>
{% endblock %}





			 <!--   <div class="form-group">
			    <label for="course">Course : </label>
			    <select class="form-control" id="course" name="course" required="required">
			      <option value="" ></option>
			      <option value="B.Tech" >B.Tech</option>
			      <option value="M.Tech">M.Tech</option>			      
			    </select>
			  </div>

			  <div class="form-group">
			    <label for="branch">Branch : </label>
			    <select class="form-control" id="branch" name="branch" required="required">
			      <option value="" ></option>
			      <option value="cse" >CSE</option>
			      <option value="it">IT</option>
			      <option value="ece">ECE</option>
			      <option value="eee">EEE</option>
			      <option value="mech">Mech</option>
			    </select>
			  </div>

			  <div class="form-group">
			    <label for="mobile">Mobile Number : </label>
			    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="98XXXXXX10" required="required">
			  </div> -->
	

	<!-- <script type="text/javascript">
		$("#placedYes").click(function(){
			$("#registerForm").attr('enctype',"multipart/form-data");
			$("#companyName,#designation,#companyLocation,#uploadOfferLetter").attr("required","required");
			$("#placedDetails").show(1000);
		});

		$("#placedNo").click(function(){
			$("#placedDetails").hide(1000);
			$("#companyName,#designation,#companyLocation,#uploadOfferLetter").val("");
			$("#registerForm").removeAttr('enctype');
			$("#companyName,#designation,#companyLocation,#uploadOfferLetter").removeAttr("required");
		});
	-->
	<!-- <script>
		$(function() {
			$( "#yearOfPassing" ).datepicker({
		      changeMonth: true,
		      changeYear: true
		    });
		  });
	</script>  -->

