{% extends 'base.html' %}
{% block styles %}

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/astyles.css')}}">
{%endblock%}
{% block content %}

	<form accept="#" method="POST">
		<div class="container">
			<h2>Select Table in restaurant id  {{restaurant_id}}</h2>
			<input type="text" name="rest_id" value="{{restaurant_id}}">
			<div class="card">
				{%if chairs_2 %}
				<div class="card-header"><center>2chair Table </center></div>
				<div class="card-body">
				<div class="row">
				{% for indx in range(1,chairs_2+1) %}
					<div class="col-sm-4 col-lg-4 col-md-4 py-4">
						
					<div class="card ">
						<div class="row ">
							<div class="col">
								
							</div>
							<div class="col ">
								
								
							</div>
							<div class="col ">
								
							</div>
						</div>
						<div class="row myrow" style="padding-top: 50px;">
							<div class="col">
								<img src="{{url_for('static',filename='base.png')}}" class="mx-auto d-block">
								<label>C</label>
							</div>
							<div class="col round">
								
									<input type="checkbox" id="ch_chairs2_{{indx}}" name="ch_chairs2_{{indx}}" 
									 
									value="OK" disabled />
									<label for="ch_chairs2_{{indx}}" style="background-color: {%if '2_'+indx|string() in reserved_tables %}pink{%endif%}"></label>
							</div>
							<div class="col ">
								<img src="{{url_for('static',filename='base.png')}}" class="mx-auto d-block">
								<label>C</label>
							</div>
						</div>
						<div class="row myrow">
							<div class="col ">
								
							</div>
							<div class="col">
								
							</div>
							<div class="col ">
								
							</div>
						</div>
						{%if '2_'+indx|string() in reserved_tables %}
						<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{loop.index}}">Info</button>
						<!-- Modal -->
						  <div class="modal fade" id="myModal{{loop.index}}" role="dialog">
						    <div class="modal-dialog">
						    
						      <!-- Modal content-->
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						          <h4 class="modal-title">Modal Header</h4>
						        </div>
						        <div class="modal-body">
						        	{%set t=[]%}
						        	{%for table in res_objects%}
						        	
						        	{%if '2C_'+indx|string() == table.reserved_table_name %}
						        	{% if t.append(table) %}{%endif%}
						        	<p>Table Name:{{table.reserved_table_name}}<br>
						        	Customer:{{table.user.name}}<br>
						        	{% set date = table.date_time.split('T') %}

						        	Date:{{date[0]}}<br>
						        	Time:{{date[1]}}

						        	</p>
						        	{%endif%}
						        	{%endfor%}
						          
						        </div>
						        <div class="modal-footer">
						          <a href="{{url_for('reservedelete',id=t[0].id)}}" class="btn btn-primary">clear</a>	
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div>
						       
						    </div>
						  </div>
						{%endif%}
					</div>

					</div>
				{% endfor %}
				</div>
				</div>
				{% endif%}

				{%if chairs_3 %}
					<div class="card-header"><center>3Chair Table  </center></div>
					<div class="card-body">
						<div class="row">
							{% for indx in range(1,chairs_3+1) %}
							
								<div class="col-sm-4 col-lg-4 col-md-4 py-4">
									
									<div class="card ">
										<div class="row ">
											<div class="col">
												1
											</div>
											<div class="col ">
												<img src="{{url_for('static',filename='base.png')}}" class="mx-auto d-block">
												<label>C</label>
												
											</div>
											<div class="col ">
												2
											</div>
										</div>
										<div class="row myrow">
											<div class="col">
												<img src="{{url_for('static',filename='base.png')}}" class="mx-auto d-block">
												<label>C</label>
											</div>
											<div class="col round">
													
													<input type="checkbox" id="ch_chairs3_{{indx}}"
													name="ch_chairs3_{{indx}}"
													value="OK" disabled/>
													<label for="ch_chairs3_{{indx}}" style="background-color: {%if '3_'+indx|string() in reserved_tables %}pink{%endif%}"></label>
											</div>
											<div class="col ">
												<img src="{{url_for('static',filename='base.png')}}" class="mx-auto d-block">
												<label>C</label>
											</div>
										</div>
										<div class="row myrow">
											<div class="col ">
												5
											</div>
											<div class="col">
											</div>
											<div class="col ">
												6
											</div>
										</div>
										{%if '3_'+indx|string() in reserved_tables %}
										<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{loop.index}}">Info</button>
										<!-- Modal -->
										  <div class="modal fade" id="myModal{{loop.index}}" role="dialog">
										    <div class="modal-dialog">
										    
										      <!-- Modal content-->
										      <div class="modal-content">
										        <div class="modal-header">
										          <button type="button" class="close" data-dismiss="modal">&times;</button>
										          <h4 class="modal-title">Modal Header</h4>
										        </div>
										        <div class="modal-body">
										        	{%set t=[]%}
										        	{%for table in res_objects%}
										        	
										        	{%if '3C_'+indx|string() == table.reserved_table_name %}
										        	{% if t.append(table) %}{%endif%}
										        	<p>Table Name:{{table.reserved_table_name}}<br>
										        	Customer:{{table.user.name}}<br>
										        	{% set date = table.date_time.split('T') %}

										        	Date:{{date[0]}}<br>
										        	Time:{{date[1]}}

										        	</p>
										        	{%endif%}
										        	{%endfor%}
										          
										        </div>
										        <div class="modal-footer">
										          <a href="{{url_for('reservedelete',id=t[0].id)}}" class="btn btn-primary">clear</a>	
										          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										        </div>
										      </div>
										       
										    </div>
										  </div>
										{%endif%}
									</div>

								</div>
							{% endfor %}
						</div>
					</div>
				{% endif%}

				{%if chairs_4 %}
					<div class="card-header"><center>4Chair Table  </center></div>
					<div class="card-body">
						<div class="row">
							{% for indx in range(1,chairs_4+1) %}
								<div class="col-sm-4 col-lg-4 col-md-4 py-4">
									
									<div class="card ">
										<div class="row ">
											<div class="col">
												
											</div>
											<div class="col ">
												<img src="{{url_for('static',filename='base.png')}}" class="mx-auto d-block">
												<label>C</label>
												
											</div>
											<div class="col ">
												
											</div>
										</div>
										<div class="row myrow">
											<div class="col">
												<img src="{{url_for('static',filename='base.png')}}" class="mx-auto d-block">
												<label>C</label>
											</div>
											<div class="col round">
												
													<input type="checkbox" id="ch_chairs4_{{indx}}"
													name="ch_chairs4_{{indx}}" 
													value="OK" disabled />
													<label for="ch_chairs4_{{indx}}" style="background-color: {%if '4_'+indx|string() in reserved_tables %}pink{%endif%}"></label>
											</div>
											<div class="col ">
												<img src="{{url_for('static',filename='base.png')}}" class="mx-auto d-block">
												<label>C</label>
											</div>
										</div>
										<div class="row myrow">
											<div class="col ">
												
											</div>
											<div class="col" style="margin-top: 20px;">
												<img src="{{url_for('static',filename='base.png')}}" class="mx-auto d-block">
												<label>C</label>
											</div>
											<div class="col " >
												
											</div>
										</div>
										{%if '4_'+indx|string() in reserved_tables %}
										<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{loop.index}}">Info</button>
										<!-- Modal -->
										  <div class="modal fade" id="myModal{{loop.index}}" role="dialog">
										    <div class="modal-dialog">
										    
										      <!-- Modal content-->
										      <div class="modal-content">
										        <div class="modal-header">
										          <button type="button" class="close" data-dismiss="modal">&times;</button>
										          <h4 class="modal-title">Modal Header</h4>
										        </div>
										        <div class="modal-body">
										        	{%set t=[]%}
										        	{%for table in res_objects%}
										        	
										        	{%if '4C_'+indx|string() == table.reserved_table_name %}
										        	{% if t.append(table) %}{%endif%}
										        	<p>Table Name:{{table.reserved_table_name}}<br>
										        	Customer:{{table.user.name}}<br>
										        	{% set date = table.date_time.split('T') %}

										        	Date:{{date[0]}}<br>
										        	Time:{{date[1]}}

										        	</p>
										        	{%endif%}
										        	{%endfor%}
										          
										        </div>
										        <div class="modal-footer">
										          <a href="{{url_for('reservedelete',id=t[0].id)}}" class="btn btn-primary">clear</a>	
										          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										        </div>
										      </div>
										       
										    </div>
										  </div>
										{%endif%}
									</div>
									

								</div>

							{% endfor %}
						</div>
					</div>
				{% endif%}

				{% if chairs_8 %}
					<div class="card-header"><center>8Chair Table  </center></div>
					<div class="card-body">
						<div class="row">
							{% for indx in range(1,chairs_8+1) %}
								<div class="col-sm-4 col-lg-4 col-md-4 py-4">
									
									<div class="card ">
										<div class="row ">
											<div class="col">
												<img src="{{url_for('static',filename='images/base.png')}}" class="mx-auto d-block">
												<label>C</label>
												
											</div>
											<div class="col ">
												<img src="{{url_for('static',filename='images/base.png')}}" class="mx-auto d-block">
												<label>C</label>
												
											</div>
											<div class="col ">
												<img src="{{url_for('static',filename='images/base.png')}}" class="mx-auto d-block">
												<label>C</label>
												
											</div>
										</div>
										<div class="row myrow">
											<div class="col">
												<img src="{{url_for('static',filename='images/base.png')}}" class="mx-auto d-block">
												<label>C</label>
											</div>
											<div class="col round">
												
													<input type="checkbox" id="ch_chairs8_{{indx}}"
													value="OK" />
													<label for="ch_chairs8_{{indx}}"></label>
											</div>
											<div class="col ">
												<img src="{{url_for('static',filename='images/base.png')}}" class="mx-auto d-block">
												<label>C</label>
											</div>
										</div>
										<div class="row myrow">
											<div class="col ">
												<img src="{{url_for('static',filename='images/base.png')}}" class="mx-auto d-block">
												<label>C</label>
												
											</div>
											<div class="col">
												<img src="{{url_for('static',filename='images/base.png')}}" class="mx-auto d-block">
												<label>C3</label>
											</div>
											<div class="col ">
												<img src="{{url_for('static',filename='images/base.png')}}" class="mx-auto d-block">
												<label>C</label>
												
											</div>
										</div>
									</div>

								</div>
							{% endfor %}
						</div>
					</div>
				{% endif%}
				
			</div>
		</div>
		
	</form>
{% endblock %}